<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %} - IEPISUR</title>
    <script type=text/javascript src="{{
      url_for('static', filename='jquery.js') }}">
    </script>
    <script type="text/javascript">
      var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    {% endblock %}
  </head>
  <body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      &copy; MIT 2018 by <a href="http://www.duckduckgo.com/?q=directed+acyclic+graph">you</a>.
      {% endblock %}
    </div>
  </body>
</html>
